body.bodydrk,div#main-feed-wrap,div#viewport,header,row,section#escorts-tab{background-color:#000}#mobile-buttons{z-index:9999999999999}.header .resp-img{margin:auto 0 auto;padding:0 0}.newhead img{margin:0 auto;display:block}.badges .center{position:absolute;top:0;width:auto}.escort-profile-grid-view figure .badges{top:1px;background:0 0;pointer-events:none}.escort-profile-grid-view figcaption{bottom:0;position:absolute;width:100%;background:#820000;left:0}.escort-profile-grid-view p.private-gall{font-weight:700;color:#f8be0b}p.private-galldiamond{color:#5314ff;font-weight:700}.badges .left{display:none}.escort-type.right{float:left!important}#grid-view-wrap .escort-profile-wrap-{border-radius:0;border-width:1px!important}#grid-view-wrap .escort-profile-wrap-gallgold{border:solid 1px #0f9fa7!important;margin-bottom:0;border-radius:0}.escort-profile-wrap-gallgold figure:after{z-index:-999999999;content:"";position:absolute;width:100%;height:100%;top:0;left:0;-webkit-filter:;-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(8px);border:3px solid #000;-webkit-perspective:1000;-webkit-font-smoothing:subpixel-antialiased;backface-visibility:hidden;transform:translateZ(0);pointer-events:none}#grid-view-wrap .escort-profile-wrap-gall{border:solid 1px #512e83!important;margin-bottom:0;border-radius:0}.escort-profile-wrap-gall figure:after{z-index:10;content:"";position:absolute;width:100%;height:100%;top:0;left:0;-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(8px);border:5px solid #512e83;-webkit-perspective:1000;-webkit-font-smoothing:subpixel-antialiased;backface-visibility:hidden;transform:translateZ(0);pointer-events:none}.escort-profile-wrap-galldiamond{background:0 0;border:solid 1px #5314ff!important;margin-bottom:0;border-radius:0}.escort-profile-wrap-galldiamond figure:after{z-index:10;content:"";position:absolute;width:100%;height:100%;top:0;left:0;-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(8px);border:5px solid #5314ff;-webkit-perspective:1000;-webkit-font-smoothing:subpixel-antialiased;backface-visibility:hidden;transform:translateZ(0);pointer-events:none}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){figure:after{border:none!important}}header img.resp-img{padding:0}.figpopout p.private-gall{color:#b691d8}.figpopout{padding:10px;background:#820000;margin-top:10px;color:#ffc545;font-family:Antic;font-size:16px;width:100%;box-sizing:border-box;left:0;position:absolute;z-index:99}.figpopout .right{padding-right:7px;width:50%;text-align:right}.popout_arrow{border-bottom:10px solid #820000;border-left:10px solid transparent;border-right:10px solid transparent;height:0;position:absolute;top:-10px;width:0}.figpopout .row{margin:5px 0}.figpopout .row.last{margin-top:20px}header{margin:0 0 10px}ul.more-pages-pagination li.left,ul.more-pages-pagination li.right{color:#fff}.button.new-fav-btn{background:0 0}.button.new-fav-btn .fa-heart:hover,.button.new-fav-btn:hover{background:rgba(255,0,0,.078)}.new-fav-btn span.hide-for-small{display:none!important}.button.new-fav-btn .fa-heart{color:#efc7e4}.button.new-fav-btn-sel .fa-heart{color:red}.escort-profile-grid-view .fav-button-wrap{height:27px;width:52px;margin:0;right:1px;position:absolute;z-index:11}.profile-buttons.clearfix{display:none}.escort-profile-grid-view p.private-gallgold{color:#f8be0b}[class*=block-grid-]>li{padding:0 .15rem .15rem}button.new-fav-btn.new-fav-btn-sel{color:#f90aa6;background:#4e406c}.button.new-fav-btn.new-fav-btn-sel{color:#f90aa6;background:0 0;border-radius:1px!important}.viewprofile{background:#ebff08;padding:10px;color:#000;border-radius:5px}.vidbutton{background:#cf1717;padding:10px;color:#fff;border-radius:5px}max-width.vidbutton.off{background:rgba(247,77,98,.25);max-width:105px;text-align:right!important}.nationality{width:100%;text-align:center}.about-escort{width:100%;text-align:left; color:#fff;}.about-escort-service{width:100%;text-align:left; color:#fff;}.escort-profile-grid-view figure img{border-radius:0}.dimmer:before{content:" ";z-index:10;display:block;position:absolute;height:100%;top:0;left:0;right:0;background:rgba(0,0,0,.5)}#mobile-buttons a.button{font-size:10px}ul.more-pages-menu-mobile li{display:inline-block}ul.more-pages-menu-mobile{margin:0 0 20px;text-align:center}#scrolltop{position:fixed;right:10px;bottom:20px;cursor:pointer;width:50px;height:50px;background-color:#3498db;text-indent:-9999px;display:none;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px;z-index:9999}#scrolltop span{position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#fff}#scrolltop:hover{background-color:#e74c3c;opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)"}nav.mobile-nav{background:url(https://www.purnimatawde.com/images/menu/pune-escorts-menu-bg.webp) #fff;background-size:cover;background-position-x:right}.escort-profile-wrap-galldiamond figcaption{background:rgba(0,0,0,.55)}@media screen AND (min-width:800px){.dimmer:before{background:0 0}.figpopout{display:none}}.escort-profile-grid-view p.updated-profile{color:#24ec08}.snap{color:#fff;text-align:center}.snap p{color:#fff}.snap a{color:#fff}@media screen AND (max-width:800px){header .large-8.medium-8.columns{width:100%}#mobile-buttons ul li{width:32%;float:left}#mobile-buttons ul li:first-child{margin-right:2%}#mobile-buttons ul li:last-child{margin-left:2%}.mobile-nav-wrapper.show-800.open{z-index:25;width:100%}div#leftMenu{z-index:25;width:100%}.main-sidebar{left:-100%}#mobile-buttons.profile ul li{width:48%;float:left}.mobile-nav li a{text-align:left;padding-left:10px}}.dmca p{text-align:center;color:#fffFFF4;line-height:}





.navbar {
  overflow: hidden;
  background-color: #fd9106;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:0;
    display: flex;
  justify-content: center;
  align-items: center;  
}

.navbar a {

  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #000;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}





.contentDiv{
  width:300px;
  height:1000px;
  background-color:;
}

button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 9999999999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,{
  outline: 0 !important;
}
button.back-to-top::before,
button.back-to-top::after {
  content: "";
    display: block;
    vertical-align: middle;
    border-bottom: solid 10px #EA5D5F;
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
  border-radius:20px;
  visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before{
  visibility: visible;
}
button.back-to-top::after {
  border-bottom-color:#fff;
      position: relative;
  top:-24px;
}
button.back-to-top.show {
  display: block;
  background: #fd9106;
  color: #00ab6c;
  font-size: 25px;
  right: 45%;
	bottom: 20px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}